<!-- Tomcat 5.5x Datasource config -->
<!-- The contents of this file will be loaded for each web application -->
<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
	
    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->   

    <Resource name="jdbc/ItensilDS" auth="Container" type="javax.sql.DataSource"
           maxActive="10" maxIdle="5" maxWait="10000"
           username="itensildb" password="itensildbPass" driverClassName="com.mysql.jdbc.Driver"
           url="jdbc:mysql://localhost/itensildb?autoReconnect=true"/>
           
</Context>